.darkmod {
  background-image: url("../public/darkmode.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.darkmod .box {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.darkmod {
  color: #ffffff;
}

.darkmod .btn {
  background-color: #c64dee;
  border: none;
}

.darkmod .btn:hover {
  background-color: #d557ff;
  box-shadow: 0 4px 8px rgba(46, 164, 79, 0.3);
}

.darkmod .btn:focus {
  box-shadow: #cfa1df 0 0 0 3px;
  outline: none;
}

.darkmod .btn:disabled {
  background-color: #c64dee;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: not-allowed;
}

.darkmod .btn:active {
  background-color: #c45ae7;
  box-shadow: inset 0 1px 0 rgba(20, 70, 32, 0.2);
}

.darkmod p {
  color: #ffffff;
}

.darkmod .text-area {
  background-image: url("../public/darkmode.avif");
  background-position: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: none;
}

.darkmod .info {
  color: #ffffff;
}

.darkmod .key-item {
  background-color: #c64dee;
}

.darkmod .keyword {
  color: white;
  background-color: #dcdcdca3;
}

.darkmod #language-select {
  background-color: #dcdcdc60;
  color: white;
  border: 1px solid #efeded;
}

.darkmod #language-select:hover {
  border-color: #dddbdb66;
  background-color: #ffffff57;
}

.darkmod #language-select:focus {
  border-color: #bcbcbc9a;
  box-shadow: 0 0 5px rgba(232, 232, 232, 0.5);
}

.darkmod #language-select option {
  padding: 10px;
  color: #000000;
  background-color: #bcbcbc9a;
}

.darkmod .highlight {
  color: white;
}

.darkmod .highlight::after {
  background: rgb(146, 164, 255);
  background: -moz-linear-gradient(90deg, rgba(146, 164, 255, 1) 0%, rgba(255, 160, 160, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(146, 164, 255, 1) 0%, rgba(255, 160, 160, 1) 100%);
  background: linear-gradient(90deg, rgba(146, 164, 255, 1) 0%, rgba(255, 160, 160, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#92a4ff", endColorstr="#ffa0a0", GradientType=1);
}